@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto';

  max-width: 1440px;
  /* padding: 0 105px; */
}

a {
  text-decoration: none; 
  color: white;
  cursor: pointer;
}

a:hover {
  color: #fca311;
}

.app-container {
  padding: 0 105px;
}

/********navbar****/
.navbar {
  height: 140px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400px;
  margin: 0 105px;

  border-bottom: 1px solid white;
}

.navbar-list {
  height: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  list-style-type: none;
}

.nav-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list-items {
  border-left:  1px solid white;
  width: 152px;
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

/*********intro**********/
.intro {
  height: 360px;
  font-size: 52px;

  margin: 53px 0 0 0;
}

.name {
  font-weight: 400;
}

.brandStatement {
  font-size: .6em;
  margin: 18px 0 0 0;
  overflow: hidden;
}

/******main-content*******/
.skills {
  margin: 0 0 74px 0;
  
}

.skills-titles {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  border-bottom: 1px solid white;
}

.skills-titles h3 {
  /* margin: 0 233px 24px 0; */
  font-size: 18px;
}

.skills-list {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-content: flex-start;
  margin: 24px 0 0 0;
}

.skill-list-container {
  /* margin: 0 200px 0 0 ; */
}

.skill-list-container ul {
  list-style: none;
  font-size: 26px;
}

.framework {
  /* margin: 0 0 0 190px; */
}

.database {
  /* margin: 0 0 0 240px */
}

/*********project-container******/
.project-container {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;

  margin: 75px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  color: black;
}

.project {
  width: 45%;
  height: 500px;
  margin: 75px 10px 0 10px;

  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.project-img {
  max-width: 100%;
  height: 300px;

  /* border: 1px solid black; */
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

}

.project-name {
  font-size: 36px;
  text-align: left;
  margin: 20px 0 20px 0;
  font-family: Helvetica;
}

.project-about {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0 0 24px 0
}

.project-language {
  margin: 24px 0 0 0;
  display: flex; 
  font-size: 18px;
}

/***********resume*********/
.resume {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-container {
  height: 930px;
  width: 750px;
  background-color: white;
  overflow-y: hidden;
}

.resume a {
  font-size: 24px;
  margin: 10px 0;
}