* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white
}

a {
  text-decoration: none; 
  color: white;
  cursor: pointer;
}

a:hover {
  color: #fca311;
}


/********navbar****/
.navbar {
  height: 50px;

}

.navbar-list {
  height: 100%;
  padding: 0 20px;

  display: flex;
  align-items: center;
  
  list-style-type: none;
}

.navbar-list-item {
  margin: 0 20px 0 0;
  font-size: 18px;
}

.intro {
  padding: 0 0 0 20px;

  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 50px;
  font-size: 36px;
}

.intro p {
  padding: 0 0 0 40px;
}

.main-content {
  height: 500px;
}

/*********skills*********/

.skills {
  height: 300px;
  padding: 0 0 0 80px;

  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "skills skills skills skills"
  'languages framework backend database';
}

.skill-title {
  grid-area: skills;
  margin: 0 auto;
}

.language {
  grid-area: languages;
}

.framework {
  grid-area: framework;
}

.backend {
  grid-area: backend;
}

.database {
  grid-area: database;
}

/*******project-container*****/
.project-container {
  height: 350px;

  display: flex;
}


/*******projects********/
.project {
  height: 275px;
  width: 300px;
  margin: 10px 20px;
  border: 1px solid white;
  box-shadow: 10px 10px 10px white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-img {
  max-height: 250px;
  max-width: 275px;
}