@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: 'Roboto';

  /* width: 100vw; */
  overflow-x: hidden;
  /* padding: 0 105px; */
}

a {
  text-decoration: none; 
  color: white;
  cursor: pointer;
}

a:hover {
  color: #fca311;
}

.app-container {
  /* padding: 0 105px; */
}

/********navbar****/

.navbar {
  height: 140px;
  width: 100vw;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400px;
  margin: 0 0 0 50px;
  padding: 0 50px 0 0;

  border-bottom: 1px solid white;
  background-color: black;
}

.navbar-list {
  height: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
}

.nav-links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 0;
}

.navbar-list-items {
  border-left:  1px solid white;
  width: 152px;
  height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

/*********intro**********/
.info-container {
  width: 100vw;
  background-color: black;

  /* margin: 0 115px 0 115px; */
}

.intro {
  height: 360px;
  font-size: 52px;

  margin: 53px 50px 0 50px;
}

.name {
  font-weight: 400;
}

.brandStatement {
  font-size: .6em;
  margin: 18px 0 0 0;
  overflow: hidden;
}

/******main-content*******/

.main-content {
  width: 100vw;
  margin: 0 0 0 50px;
}

.skills {
  margin: 0 0 74px 0;
  
}

.skills-titles {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  border-bottom: 1px solid white;
}

.skills-titles h3 {
  /* margin: 0 233px 24px 0; */
  font-size: 18px;
}

.skills-list {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-content: flex-start;
  margin: 24px 0 0 0;
}

.skill-list-container {
  /* margin: 0 200px 0 0 ; */
}

.skill-list-container ul {
  list-style: none;
  font-size: 26px;
}

.framework {
  /* margin: 0 0 0 190px; */
}

.database {
  /* margin: 0 0 0 240px */
}

/*********project-container******/
.project-container {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;

  margin: 75px 0 0 0;
  display: grid;
  grid-template: auto / 1fr 1fr;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  color: black;

  /* text-align: center; */
}

.project {
  width: 90%;
  height: fit-content;
  margin: 75px 10px 0 10px;

  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.project-img {
  max-width: 100%;
  height: 300px;

  text-align: center;

  /* border: 1px solid black; */
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  text-align: center;

}

.project-name {
  font-size: 36px;
  text-align: left;
  margin: 20px 0 20px 0;
  font-family: Helvetica;
}

.project-about {
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0 0 24px 0
}

.project-language {
  margin: 24px 0 10px 0;
  display: flex; 
  font-size: 18px;
}

/***********resume*********/
.resume {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-container {
  height: 930px;
  width: 750px;
  background-color: white;
  overflow-y: hidden;
}

.resume a {
  font-size: 24px;
  margin: 10px 0;
}

@media only screen and (max-width: 475px) {
  *{
    padding: 0;
    margin: 0;
  }
  body{
    width: 425px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .app {
    width: 100%;
  }

  .app-container {
    width: 100vw;
  }

  .info-container {
    width: 100vw;
  }

  .intro {
    width: 100vw;
    /* margin: 0 */
    height: fit-content;
    margin: 53px 50px 15px 50px;
  }
.brandStatement {
  font-size: 1.3rem;
}

.skill-list-container li {
  font-size: 1rem;
  
}

.project-container {
  width: 140%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}
}